/* Figma Styles of your File */
:root {
  /* Colors */
  --fasorg-wild-sand: #f4f4f4;
  --fasorg-astronaut: #255979;
  --fasorg-black: #000000;
  --fasorg-black-50percent: rgba(0, 0, 0, 0.5);
  --fasorg-cinnabar: #e94f37;
  --fasorg-mercury: #e7e7e7;
  --fasorg-limeade: #45a6ff;
  --fasorg-green: #ffbd12;
  --fasorg-shamrock: #36bd96;
  --fasorg-lilac-bush: #a77ad7;
  --fasorg-nero: #ffffff;

  /* Fonts */
  --fasorg-inter-regular-7578-title-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-7578-title-font-size: 75.78125px;
  --fasorg-inter-regular-7578-title-line-height: 80px;
  --fasorg-inter-regular-7578-title-font-weight: 400;
  --fasorg-inter-regular-7578-title-font-style: normal;
  --fasorg-inter-bold-7578-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-7578-title-font-size: 75.78125px;
  --fasorg-inter-bold-7578-title-line-height: 80px;
  --fasorg-inter-bold-7578-title-font-weight: 700;
  --fasorg-inter-bold-7578-title-font-style: normal;
  --fasorg-inter-regular-15-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-15-font-size: 15px;
  --fasorg-inter-regular-15-line-height: 25.6px;
  --fasorg-inter-regular-15-font-weight: 400;
  --fasorg-inter-regular-15-font-style: normal;
  --fasorg-inter-regular-1538-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1538-upper-font-size: 15.375px;
  --fasorg-inter-regular-1538-upper-line-height: 16px;
  --fasorg-inter-regular-1538-upper-font-weight: 400;
  --fasorg-inter-regular-1538-upper-font-style: normal;
  --fasorg-inter-bold-1563-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1563-upper-font-size: 15.625px;
  --fasorg-inter-bold-1563-upper-line-height: 16px;
  --fasorg-inter-bold-1563-upper-font-weight: 700;
  --fasorg-inter-bold-1563-upper-font-style: normal;
  --fasorg-inter-regular-16-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-16-upper-font-size: 16px;
  --fasorg-inter-regular-16-upper-line-height: 16px;
  --fasorg-inter-regular-16-upper-font-weight: 400;
  --fasorg-inter-regular-16-upper-font-style: normal;
  --fasorg-inter-bold-14-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-14-upper-font-size: 14px;
  --fasorg-inter-bold-14-upper-line-height: 16px;
  --fasorg-inter-bold-14-upper-font-weight: 700;
  --fasorg-inter-bold-14-upper-font-style: normal;
  --fasorg-inter-bold-1388-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1388-upper-font-size: 13.875px;
  --fasorg-inter-bold-1388-upper-line-height: 16px;
  --fasorg-inter-bold-1388-upper-font-weight: 700;
  --fasorg-inter-bold-1388-upper-font-style: normal;
  --fasorg-inter-bold-3431-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-3431-title-font-size: 34.3125px;
  --fasorg-inter-bold-3431-title-line-height: 36px;
  --fasorg-inter-bold-3431-title-font-weight: 700;
  --fasorg-inter-bold-3431-title-font-style: normal;
  --fasorg-inter-regular-1463-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1463-upper-font-size: 14.625px;
  --fasorg-inter-regular-1463-upper-line-height: 16px;
  --fasorg-inter-regular-1463-upper-font-weight: 400;
  --fasorg-inter-regular-1463-upper-font-style: normal;
  --fasorg-inter-regular-1488-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1488-upper-font-size: 14.875px;
  --fasorg-inter-regular-1488-upper-line-height: 16px;
  --fasorg-inter-regular-1488-upper-font-weight: 400;
  --fasorg-inter-regular-1488-upper-font-style: normal;
  --fasorg-inter-bold-1488-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1488-upper-font-size: 14.875px;
  --fasorg-inter-bold-1488-upper-line-height: 16px;
  --fasorg-inter-bold-1488-upper-font-weight: 700;
  --fasorg-inter-bold-1488-upper-font-style: normal;
  --fasorg-inter-bold-1513-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1513-upper-font-size: 15.125px;
  --fasorg-inter-bold-1513-upper-line-height: 16px;
  --fasorg-inter-bold-1513-upper-font-weight: 700;
  --fasorg-inter-bold-1513-upper-font-style: normal;
  --fasorg-inter-bold-1985-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1985-title-font-size: 19.8515625px;
  --fasorg-inter-bold-1985-title-line-height: 23.1px;
  --fasorg-inter-bold-1985-title-font-weight: 700;
  --fasorg-inter-bold-1985-title-font-style: normal;
  --fasorg-inter-bold-1575-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1575-upper-font-size: 15.75px;
  --fasorg-inter-bold-1575-upper-line-height: 16px;
  --fasorg-inter-bold-1575-upper-font-weight: 700;
  --fasorg-inter-bold-1575-upper-font-style: normal;
  --fasorg-inter-bold-1525-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1525-upper-font-size: 15.25px;
  --fasorg-inter-bold-1525-upper-line-height: 16px;
  --fasorg-inter-bold-1525-upper-font-weight: 700;
  --fasorg-inter-bold-1525-upper-font-style: normal;
  --fasorg-inter-bold-1463-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1463-upper-font-size: 14.625px;
  --fasorg-inter-bold-1463-upper-line-height: 16px;
  --fasorg-inter-bold-1463-upper-font-weight: 700;
  --fasorg-inter-bold-1463-upper-font-style: normal;
  --fasorg-inter-bold-1969-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1969-title-font-size: 19.6875px;
  --fasorg-inter-bold-1969-title-line-height: 23.1px;
  --fasorg-inter-bold-1969-title-font-weight: 700;
  --fasorg-inter-bold-1969-title-font-style: normal;
  --fasorg-inter-bold-16-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-16-upper-font-size: 16px;
  --fasorg-inter-bold-16-upper-line-height: 16px;
  --fasorg-inter-bold-16-upper-font-weight: 700;
  --fasorg-inter-bold-16-upper-font-style: normal;
  --fasorg-inter-regular-1513-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1513-font-size: 15.125px;
  --fasorg-inter-regular-1513-line-height: 25.6px;
  --fasorg-inter-regular-1513-font-weight: 400;
  --fasorg-inter-regular-1513-font-style: normal;
  --fasorg-inter-bold-15-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-15-upper-font-size: 15px;
  --fasorg-inter-bold-15-upper-line-height: 16px;
  --fasorg-inter-bold-15-upper-font-weight: 700;
  --fasorg-inter-bold-15-upper-font-style: normal;
  --fasorg-inter-regular-4113-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-4113-font-size: 41.1328125px;
  --fasorg-inter-regular-4113-line-height: 45px;
  --fasorg-inter-regular-4113-font-weight: 400;
  --fasorg-inter-regular-4113-font-style: normal;
  --fasorg-inter-bold-4113-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-4113-font-size: 41.1328125px;
  --fasorg-inter-bold-4113-line-height: 45px;
  --fasorg-inter-bold-4113-font-weight: 700;
  --fasorg-inter-bold-4113-font-style: normal;
  --fasorg-inter-regular-2034-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-2034-font-size: 20.34375px;
  --fasorg-inter-regular-2034-line-height: 23.1px;
  --fasorg-inter-regular-2034-font-weight: 400;
  --fasorg-inter-regular-2034-font-style: normal;
  --fasorg-inter-regular-2018-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-2018-font-size: 20.1796875px;
  --fasorg-inter-regular-2018-line-height: 23.1px;
  --fasorg-inter-regular-2018-font-weight: 400;
  --fasorg-inter-regular-2018-font-style: normal;
  --fasorg-inter-regular-1985-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1985-font-size: 19.8515625px;
  --fasorg-inter-regular-1985-line-height: 23.1px;
  --fasorg-inter-regular-1985-font-weight: 400;
  --fasorg-inter-regular-1985-font-style: normal;
  --fasorg-inter-bold-4131-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-4131-title-font-size: 41.30859375px;
  --fasorg-inter-bold-4131-title-line-height: 45px;
  --fasorg-inter-bold-4131-title-font-weight: 700;
  --fasorg-inter-bold-4131-title-font-style: normal;
  --fasorg-inter-regular-1525-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1525-font-size: 15.25px;
  --fasorg-inter-regular-1525-line-height: 25.6px;
  --fasorg-inter-regular-1525-font-weight: 400;
  --fasorg-inter-regular-1525-font-style: normal;
  --fasorg-inter-bold-4201-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-4201-title-font-size: 42.01171875px;
  --fasorg-inter-bold-4201-title-line-height: 45px;
  --fasorg-inter-bold-4201-title-font-weight: 700;
  --fasorg-inter-bold-4201-title-font-style: normal;
  --fasorg-inter-bold-1425-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1425-upper-font-size: 14.25px;
  --fasorg-inter-bold-1425-upper-line-height: 16px;
  --fasorg-inter-bold-1425-upper-font-weight: 700;
  --fasorg-inter-bold-1425-upper-font-style: normal;
  --fasorg-inter-bold-3375-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-3375-font-size: 33.75px;
  --fasorg-inter-bold-3375-line-height: 36px;
  --fasorg-inter-bold-3375-font-weight: 700;
  --fasorg-inter-bold-3375-font-style: normal;
  --fasorg-inter-regular-1575-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1575-upper-font-size: 15.75px;
  --fasorg-inter-regular-1575-upper-line-height: normal;
  --fasorg-inter-regular-1575-upper-font-weight: 400;
  --fasorg-inter-regular-1575-upper-font-style: normal;
  --fasorg-inter-bold-1338-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1338-upper-font-size: 13.375px;
  --fasorg-inter-bold-1338-upper-line-height: 16px;
  --fasorg-inter-bold-1338-upper-font-weight: 700;
  --fasorg-inter-bold-1338-upper-font-style: normal;
  --fasorg-inter-regular-155-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-155-font-size: 15.5px;
  --fasorg-inter-regular-155-line-height: 25.6px;
  --fasorg-inter-regular-155-font-weight: 400;
  --fasorg-inter-regular-155-font-style: normal;
  --fasorg-inter-bold-1181-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1181-upper-font-size: 11.8125px;
  --fasorg-inter-bold-1181-upper-line-height: 16.2px;
  --fasorg-inter-bold-1181-upper-font-weight: 700;
  --fasorg-inter-bold-1181-upper-font-style: normal;
  --fasorg-inter-bold-12-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-12-upper-font-size: 12px;
  --fasorg-inter-bold-12-upper-line-height: 16.2px;
  --fasorg-inter-bold-12-upper-font-weight: 700;
  --fasorg-inter-bold-12-upper-font-style: normal;
  --fasorg-inter-bold-1106-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1106-upper-font-size: 11.0625px;
  --fasorg-inter-bold-1106-upper-line-height: 16.2px;
  --fasorg-inter-bold-1106-upper-font-weight: 700;
  --fasorg-inter-bold-1106-upper-font-style: normal;
  --fasorg-inter-regular-1334-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1334-upper-font-size: 13.34375px;
  --fasorg-inter-regular-1334-upper-line-height: 9.1px;
  --fasorg-inter-regular-1334-upper-font-weight: 400;
  --fasorg-inter-regular-1334-upper-font-style: normal;
  --fasorg-inter-regular-1203-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1203-upper-font-size: 12.03125px;
  --fasorg-inter-regular-1203-upper-line-height: 9.1px;
  --fasorg-inter-regular-1203-upper-font-weight: 400;
  --fasorg-inter-regular-1203-upper-font-style: normal;
  --fasorg-inter-regular-1214-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1214-upper-font-size: 12.140625px;
  --fasorg-inter-regular-1214-upper-line-height: 9.1px;
  --fasorg-inter-regular-1214-upper-font-weight: 400;
  --fasorg-inter-regular-1214-upper-font-style: normal;
  --fasorg-inter-regular-1236-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1236-upper-font-size: 12.359375px;
  --fasorg-inter-regular-1236-upper-line-height: 9.1px;
  --fasorg-inter-regular-1236-upper-font-weight: 400;
  --fasorg-inter-regular-1236-upper-font-style: normal;
  --fasorg-inter-regular-1247-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1247-upper-font-size: 12.46875px;
  --fasorg-inter-regular-1247-upper-line-height: 9.1px;
  --fasorg-inter-regular-1247-upper-font-weight: 400;
  --fasorg-inter-regular-1247-upper-font-style: normal;
  --fasorg-inter-regular-4916-title-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-4916-title-font-size: 49.15625px;
  --fasorg-inter-regular-4916-title-line-height: 52px;
  --fasorg-inter-regular-4916-title-font-weight: 400;
  --fasorg-inter-regular-4916-title-font-style: normal;
  --fasorg-inter-bold-4916-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-4916-title-font-size: 49.15625px;
  --fasorg-inter-bold-4916-title-line-height: 52px;
  --fasorg-inter-bold-4916-title-font-weight: 700;
  --fasorg-inter-bold-4916-title-font-style: normal;
  --fasorg-inter-bold-3417-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-3417-title-font-size: 34.171875px;
  --fasorg-inter-bold-3417-title-line-height: 36px;
  --fasorg-inter-bold-3417-title-font-weight: 700;
  --fasorg-inter-bold-3417-title-font-style: normal;
  --fasorg-inter-regular-1488-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1488-font-size: 14.875px;
  --fasorg-inter-regular-1488-line-height: 25.6px;
  --fasorg-inter-regular-1488-font-weight: 400;
  --fasorg-inter-regular-1488-font-style: normal;
  --fasorg-inter-bold-3403-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-3403-font-size: 34.03125px;
  --fasorg-inter-bold-3403-line-height: 36px;
  --fasorg-inter-bold-3403-font-weight: 700;
  --fasorg-inter-bold-3403-font-style: normal;
  --fasorg-inter-regular-397-title-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-397-title-font-size: 39.703125px;
  --fasorg-inter-regular-397-title-line-height: 42px;
  --fasorg-inter-regular-397-title-font-weight: 400;
  --fasorg-inter-regular-397-title-font-style: normal;
  --fasorg-inter-bold-397-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-397-title-font-size: 39.703125px;
  --fasorg-inter-bold-397-title-line-height: 42px;
  --fasorg-inter-bold-397-title-font-weight: 700;
  --fasorg-inter-bold-397-title-font-style: normal;
  --fasorg-inter-regular-1563-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1563-font-size: 15.625px;
  --fasorg-inter-regular-1563-line-height: 25.6px;
  --fasorg-inter-regular-1563-font-weight: 400;
  --fasorg-inter-regular-1563-font-style: normal;
  --fasorg-inter-regular-1144-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1144-upper-font-size: 11.4375px;
  --fasorg-inter-regular-1144-upper-line-height: 12px;
  --fasorg-inter-regular-1144-upper-font-weight: 400;
  --fasorg-inter-regular-1144-upper-font-style: normal;
  --fasorg-inter-regular-12-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-12-upper-font-size: 12px;
  --fasorg-inter-regular-12-upper-line-height: 12px;
  --fasorg-inter-regular-12-upper-font-weight: 400;
  --fasorg-inter-regular-12-upper-font-style: normal;
  --fasorg-inter-bold-3459-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-3459-title-font-size: 34.59375px;
  --fasorg-inter-bold-3459-title-line-height: 36px;
  --fasorg-inter-bold-3459-title-font-weight: 700;
  --fasorg-inter-bold-3459-title-font-style: normal;
  --fasorg-inter-regular-1106-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1106-upper-font-size: 11.0625px;
  --fasorg-inter-regular-1106-upper-line-height: 12px;
  --fasorg-inter-regular-1106-upper-font-weight: 400;
  --fasorg-inter-regular-1106-upper-font-style: normal;
  --fasorg-inter-bold-1952-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1952-title-font-size: 19.5234375px;
  --fasorg-inter-bold-1952-title-line-height: 23.1px;
  --fasorg-inter-bold-1952-title-font-weight: 700;
  --fasorg-inter-bold-1952-title-font-style: normal;
  --fasorg-inter-bold-1438-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1438-upper-font-size: 14.375px;
  --fasorg-inter-bold-1438-upper-line-height: 16px;
  --fasorg-inter-bold-1438-upper-font-weight: 700;
  --fasorg-inter-bold-1438-upper-font-style: normal;
  --fasorg-inter-regular-16-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-16-font-size: 16px;
  --fasorg-inter-regular-16-line-height: 25.6px;
  --fasorg-inter-regular-16-font-weight: 400;
  --fasorg-inter-regular-16-font-style: normal;
  --fasorg-inter-bold-3389-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-3389-font-size: 33.890625px;
  --fasorg-inter-bold-3389-line-height: 36px;
  --fasorg-inter-bold-3389-font-weight: 700;
  --fasorg-inter-bold-3389-font-style: normal;
  --fasorg-inter-bold-1163-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1163-upper-font-size: 11.625px;
  --fasorg-inter-bold-1163-upper-line-height: 12px;
  --fasorg-inter-bold-1163-upper-font-weight: 700;
  --fasorg-inter-bold-1163-upper-font-style: normal;
  --fasorg-inter-bold-105-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-105-upper-font-size: 10.5px;
  --fasorg-inter-bold-105-upper-line-height: 12px;
  --fasorg-inter-bold-105-upper-font-weight: 700;
  --fasorg-inter-bold-105-upper-font-style: normal;
  --fasorg-inter-bold-1031-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1031-upper-font-size: 10.3125px;
  --fasorg-inter-bold-1031-upper-line-height: 12px;
  --fasorg-inter-bold-1031-upper-font-weight: 700;
  --fasorg-inter-bold-1031-upper-font-style: normal;
  --fasorg-inter-regular-1088-upper-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1088-upper-font-size: 10.875px;
  --fasorg-inter-regular-1088-upper-line-height: 12px;
  --fasorg-inter-regular-1088-upper-font-weight: 400;
  --fasorg-inter-regular-1088-upper-font-style: normal;
  --fasorg-inter-bold-1106-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1106-upper-font-size: 11.0625px;
  --fasorg-inter-bold-1106-upper-line-height: 12px;
  --fasorg-inter-bold-1106-upper-font-weight: 700;
  --fasorg-inter-bold-1106-upper-font-style: normal;
  --fasorg-inter-bold-1125-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1125-upper-font-size: 11.25px;
  --fasorg-inter-bold-1125-upper-line-height: 12px;
  --fasorg-inter-bold-1125-upper-font-weight: 700;
  --fasorg-inter-bold-1125-upper-font-style: normal;
  --fasorg-inter-bold-1702-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1702-title-font-size: 17.015625px;
  --fasorg-inter-bold-1702-title-line-height: 19.8px;
  --fasorg-inter-bold-1702-title-font-weight: 700;
  --fasorg-inter-bold-1702-title-font-style: normal;
  --fasorg-inter-bold-1181-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1181-upper-font-size: 11.8125px;
  --fasorg-inter-bold-1181-upper-line-height: 12px;
  --fasorg-inter-bold-1181-upper-font-weight: 700;
  --fasorg-inter-bold-1181-upper-font-style: normal;
  --fasorg-inter-bold-1144-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1144-upper-font-size: 11.4375px;
  --fasorg-inter-bold-1144-upper-line-height: 12px;
  --fasorg-inter-bold-1144-upper-font-weight: 700;
  --fasorg-inter-bold-1144-upper-font-style: normal;
  --fasorg-inter-bold-1088-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1088-upper-font-size: 10.875px;
  --fasorg-inter-bold-1088-upper-line-height: 12px;
  --fasorg-inter-bold-1088-upper-font-weight: 700;
  --fasorg-inter-bold-1088-upper-font-style: normal;
  --fasorg-inter-bold-1688-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1688-title-font-size: 16.875px;
  --fasorg-inter-bold-1688-title-line-height: 19.8px;
  --fasorg-inter-bold-1688-title-font-weight: 700;
  --fasorg-inter-bold-1688-title-font-style: normal;
  --fasorg-inter-bold-12-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-12-upper-font-size: 12px;
  --fasorg-inter-bold-12-upper-line-height: 12px;
  --fasorg-inter-bold-12-upper-font-weight: 700;
  --fasorg-inter-bold-12-upper-font-style: normal;
  --fasorg-inter-regular-1538-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1538-font-size: 15.375px;
  --fasorg-inter-regular-1538-line-height: 25.6px;
  --fasorg-inter-regular-1538-font-weight: 400;
  --fasorg-inter-regular-1538-font-style: normal;
  --fasorg-inter-regular-2938-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-2938-font-size: 29.375px;
  --fasorg-inter-regular-2938-line-height: 32px;
  --fasorg-inter-regular-2938-font-weight: 400;
  --fasorg-inter-regular-2938-font-style: normal;
  --fasorg-inter-bold-2938-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-2938-font-size: 29.375px;
  --fasorg-inter-bold-2938-line-height: 32px;
  --fasorg-inter-bold-2938-font-weight: 700;
  --fasorg-inter-bold-2938-font-style: normal;
  --fasorg-inter-regular-1938-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1938-font-size: 19.375px;
  --fasorg-inter-regular-1938-line-height: 20px;
  --fasorg-inter-regular-1938-font-weight: 400;
  --fasorg-inter-regular-1938-font-style: normal;
  --fasorg-inter-regular-1922-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1922-font-size: 19.21875px;
  --fasorg-inter-regular-1922-line-height: 20px;
  --fasorg-inter-regular-1922-font-weight: 400;
  --fasorg-inter-regular-1922-font-style: normal;
  --fasorg-inter-regular-1891-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1891-font-size: 18.90625px;
  --fasorg-inter-regular-1891-line-height: 20px;
  --fasorg-inter-regular-1891-font-weight: 400;
  --fasorg-inter-regular-1891-font-style: normal;
  --fasorg-inter-regular-1906-font-family: Inter-Regular, sans-serif;
  --fasorg-inter-regular-1906-font-size: 19.0625px;
  --fasorg-inter-regular-1906-line-height: 20px;
  --fasorg-inter-regular-1906-font-weight: 400;
  --fasorg-inter-regular-1906-font-style: normal;
  --fasorg-inter-bold-295-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-295-title-font-size: 29.5px;
  --fasorg-inter-bold-295-title-line-height: 32px;
  --fasorg-inter-bold-295-title-font-weight: 700;
  --fasorg-inter-bold-295-title-font-style: normal;
  --fasorg-inter-bold-2988-title-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-2988-title-font-size: 29.875px;
  --fasorg-inter-bold-2988-title-line-height: 32px;
  --fasorg-inter-bold-2988-title-font-weight: 700;
  --fasorg-inter-bold-2988-title-font-style: normal;
  --fasorg-inter-bold-1069-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1069-upper-font-size: 10.6875px;
  --fasorg-inter-bold-1069-upper-line-height: 12px;
  --fasorg-inter-bold-1069-upper-font-weight: 700;
  --fasorg-inter-bold-1069-upper-font-style: normal;
  --fasorg-inter-bold-1875-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-1875-font-size: 18.75px;
  --fasorg-inter-bold-1875-line-height: 20px;
  --fasorg-inter-bold-1875-font-weight: 700;
  --fasorg-inter-bold-1875-font-style: normal;
  --fasorg-inter-bold-994-upper-font-family: Inter-Bold, sans-serif;
  --fasorg-inter-bold-994-upper-font-size: 9.9375px;
  --fasorg-inter-bold-994-upper-line-height: 12px;
  --fasorg-inter-bold-994-upper-font-weight: 700;
  --fasorg-inter-bold-994-upper-font-style: normal;

  /* Effects */
}



/******
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}


:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

